body {
  display: flex;
  min-height: 95vh;
  background: black;
  color: lime;
  font-family: "Comic Sans", "Comic Sans MS", cursive;
  padding-right: 30px;
  padding-left: 30px;
}
aside {
  display: flex;
  flex-flow: column;
  flex: none;
}
aside header {
  display: flex;
  flex: none;
  height: 90px;
}
aside header h2 {
  font-size: 40px;
  font-weight: bold;
  margin: auto;
}
.active {
  color: black;
  background-color: lime;
}
.inactive {
  color: lime;
  background-color: black;
}
aside nav {
  padding-top: 10px;
  cursor: pointer;
}
aside nav div {
  width: 100px;
  margin-bottom: 20px;
  text-align: left;
}
main {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}
main header {
  display: flex;
  flex-flow: row nowrap;
  flex: none;
  height: 90px;
}
main header div {
  width: 300px;
  margin: auto 0 auto auto;
  text-align: right;
}
main nav {
  display: flex;
  justify-content: flex-start;
  margin: auto auto auto 0;
  cursor: pointer;
}
main nav div {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  text-align: center;
}
main form {
  padding-top: 10px;
  height: 80vh;
  max-width: 85vw;
  overflow:scroll;
}
main form label {
  display: inline-block;
  width: 80px;
}
main article {
  padding-top: 10px;
  height: 80vh;
  max-width: 85vw;
  overflow:scroll;
  font-size: 15px;
}
main article label {
  display: inline-block;
  width: 200px;
}
main article form fieldset {
  padding-top:10px;
  border:1px solid lime;
  border-radius:8px;
  box-shadow:0 0 10px #666;
}
main article form fieldset[disabled] select {
  background-color:white;
}
main article table {
  table-layout: auto;
}
main article table th {
  text-align: left;
}
main article table td {
  white-space:nowrap;
}
table, th, td {
  border: 1px solid lime;
  border-collapse: collapse;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: lime;
  border: none;
  color: black;
  font-family: "Comic Sans", "Comic Sans MS", cursive;
  cursor: pointer;
}
[maxlength="10"] {
  width: 17ch;
}
[maxlength="11"], [maxlength="12"] {
  width: 12ch;
}
[maxlength="15"], [maxlength="16"] {
  width: 17ch;
}
[maxlength="35"] {
  width: 36ch;
}
main footer {
  padding-top: 15px;
  text-align: center;
}
